Q1. How do you comment code in Python? What are the different types of comments?

Ans : In Python if line is intiate with the '#' it identify as comment, multilines are seperated with the - 'Dash', 
dockstring also use as a  comment but technically its string which is triple-quoted strings (either ''' or """).

Q2. What are variables in Python? How do you declare and assign values to variables?
Ans : In Python a variable serves as a reference to a value stored in memory.it helps to assign a value to a name using the equals sign =

Ans : a = c+d  
names = "rahul", "sana", "Neil" 
A, B, C = (11,12, 13)
simply Variable name = value

Q3. How do you convert one data type to another in Python?

Ans : To convert one data type to another using built-in functions or specific methods.
Examples : if x = 2 then we can convert 2 as string y = str(x)
if x = 2 then here we can convert 2 as float y = float (x)
if x = 2.4 then here we can convert 2.5 as string y = str(x)
if x = "rhaul" then here we can convert "rahul" as LIST y = list (x)

Q4. How do you write and execute a Python script from the command line?

Ans : first we need to installed python, after that open command promt & Navigate to the directory where you saved your script using the 'cd' command.
 navigate to the directory where you saved your script using the 'cd' command.write script like python_rahul_first_command. python
and run the script.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
#Ans:

my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

 Q6. What is a complex number in mathematics, and how is it represented in Python?

In [5]:
# Ans : Complex no. in Mathematics is combination aof Real and imaginary no.
x = 3+5j
# Here 5j is complex no. in python

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [6]:
#ANS :
a = 25 
#so here 'a' is variable , '=' is used to assigned and '25' is vaule to assign with 'a'

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [8]:
# ANS :
price = 9.99
type(price)
# so out put shows "float"

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [9]:
# ANS :
name = "rahul ingole"
print (name)

rahul ingole

Q10. Given the string "Hello, World!", extract the substring "World".

In [10]:
#ANS: Here we can extract the substring "world" by slicing the object.
x = "Hello, World"
x[6:12]

' World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [11]:
# ANS 
# If currently a student, set is_student to True. If not a student, set is_student to False.
is_student = True
is_student = False